body{
  /* background-color: rgb(40, 100, 103); */
  /* background-image: linear-gradient(-150deg, #7371ee 1%,#a1d9d6 100%); */
  display: flex;
  justify-content: center;
  font-family: Tahoma;
  color: white;  
  display: flex;
  align-items: center;
  /* overflow: hidden;
  overflow-y: scroll;   */
}

.iphone-x2 {
  position: relative;
  display: flex;
  font-size: 13.5px;
  margin: 40px auto;
  width: 360px;
  height: 780px;
  border-radius: 40px;
  /* background-color: #7371ee; */
  background-color: rgb(40, 100, 103);
  overflow: hidden;        
}