.watch-container{
  background-color: rgba(0,0,0,.3);
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.watch-container div{
  display: flex;
  column-gap: 12px;
  align-items: center;
  box-sizing: border-box;
}
.watch-container .title{
  margin-bottom: 10px;
}

.watch-container .title .icon{
  height: 36px;
  width: 36px;
  background-color: gray;
}

.watch-container .content{
  align-items: start;
  padding-top: 12px;
}

.watch-container .icon{
  height: 54px;
  width: 54px;
  background-color: gray;
  border-radius: 8px;
}


.watch-container .details{
  flex: 1;
  flex-direction: column;
  align-items: first baseline;
  justify-content: center;
  border-bottom: 1px solid rgba(0,0,0,.4);
  /* padding: 40px 0px; */
  padding-top: 2px;
  padding-bottom: 8px;
}

#playing .details{
  flex-direction: row;
  justify-content: unset;
  column-gap: 4px;
}

.watch-container :last-child .details,
#news :last-child
{
  border-bottom: none;
}

#news .details{
  min-height: 72px;
}

.watch-container .opponent-title{
  background-color: red;
  padding: 1px 6px;
  border-radius: 4px;
}